body {
    /* background: url('../imgs/background.png') no-repeat center center fixed; */
    background-color: #EFEFEF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}